/* M E N U   P R O D U T O S */
hr {
	margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px dashed #6B6B6B;
}
.menulateral div ul {
	list-style: none;
	display: none;
	position: relative;
	margin-top: 60px;
	margin-bottom: 0;
	padding: 2% !important;
	background: white;
	z-index: 888;
}
.menulateral div ul li {
	padding: 1% 2%;
}
.menulateral div a {
	line-height: 1.7;
	color: #6B6B6B;
	word-wrap: break-word;
}
.menulateral div a:hover{
	color: #FD9332;
}
#btn-products {
	width: 100%;
	height: 60px;
	text-align: left;
	padding-left: 40px;
	background-color: #C8C6BF;
	z-index: 890;
}
#btn-products i {
	width: 50px;
	display: table-cell;
	vertical-align: middle;
}
#btn-products a {
	font-weight: 800;
	color: #6B6B6B;
	text-transform: uppercase;
	display: table-cell;
	vertical-align: middle;
}
#btn-products a:hover,
#btn-products a:focus {
	color: #131313;
	text-decoration: none;
}
#btn-products span {
	width: 100%;
	height: 100%;
	display: table;
}
#busca {
	display: none;
	width: 50%;
	height: 60px;
	background-color: whitesmoke;
	text-align: center;
	padding-right: 0px;
	z-index: 890;
}
#busca input {
	margin: 13px 0px;
}
#busca .form-busca {
	width: 75%;
}
#busca .btn {
	width: 60px;
	height: 60px;
	margin: 0px;
	float: right;
}

/* D E S C R I C A O   P R O D U T O S */
.bg-cardapio {
	background-color: #EFEEEA;
}
.titulo-produto {
	margin-top: 0;
}
.descricao-produto {
	display: inline-block;
	font-size: 1em;
	font-weight: 500;
}
.valor-produto {
	font-size: 0.85em;
	padding: 5px;
	font-weight: 400;
	display: inline-block;
	color: white;
	background: tomato;
	clear: right;
}
.cod {
	display: inline-block;
	margin-top: 15px;
	font-size: 0.75em;
}
.cardapio .descricao-produto {
	margin: 0 20px;
}
.cardapio .valor-produto {
	margin: 5px 15px 0 0px;
	right: 0;
	position: absolute;
}
.cardapio .descricao-ingredientes {
	font-size: 0.8em;
    margin-left: 55px;
    margin-right: 80px;
}
.cardapio-observacao {
	font-size: .8em;
}
.cardapio-alteracao {
	margin-bottom: -12px;
}
.info-rodape {
	height: auto;
	padding: 0px 15px 5px 30px;
	color: white;
	background: coral;
	margin-bottom: 30px;
}
.info-rodape p {
	font-size: 0.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	padding: 7px 0 0;
	margin: 0;
}
/*.marcadagua {
	width: 100%;
	height: 150px;
	background: #789 url("../img/_institucional/marcadagua.png");
	padding: 0 30px;
	margin: 0;
	display: table;
}
.marcadagua > div {
	color: white;
	display: table-cell;
	vertical-align: middle;
}
.marcadagua > div > div {
	font-size: 30px;
	display: inline-block;
}
.marcadagua h1 {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.marcadagua p {
	color: white;
}*/
.encomendar {
	display: inline-block;
	margin: 10px 20px 0 0;
}
.cabeca {
	width: 100%;
	height: 300px;
	background-size: cover;
}
.cabeca_box {
	position: absolute;
}

/* A L M O C O */
.cabeca_almoco {
	background: #789 url("../img/_produtos/almoco/cabeca_almoco.jpg");
	background-position: right;
}
.cabeca_text_almoco {
    position: relative;
    top: 10px;
    left: 645px;
}
.cabeca_text_almoco h5,
.cabeca_text_almoco h4,
.cabeca_text_almoco h3,
.cabeca_text_almoco p {
	color: white;
	margin: 0;
}
.cabeca_text_almoco .unid-jantar {
	width: 215px;
}
.cabeca_text_almoco .valor-produto {
	margin: 5px 0 20px;
}
.cabeca_text_almoco .valor-produto:last-child {
	margin-bottom: 0px;
}
.unid-jantar {
	width: 130px;
}
.img-almoco {
	width: 100%;
}
.img-box-almoco {
	position: relative;
	width: 100%;
	height: 300px;
	background-size: cover;
	margin-bottom: 30px;
}
.almoco-quarta {
	background: #789 url("../img/_produtos/almoco/almoco-quarta.jpg");
}
.almoco-quinta {
	background: #789 url("../img/_produtos/almoco/almoco-quinta.jpg");
}
.almoco-sexta {
	background: #789 url("../img/_produtos/almoco/almoco-sexta.jpg");
}
.img-box-text-almoco {
	position: absolute;
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
    top: 50px;
    left: 100px;
}
.img-box-text-almoco p {
	text-align: center;
    font-size: 40px;
    line-height: 50px;
    color: white;
    margin-top: 40px;
}
.img-text-almoco {
	position: absolute;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    top: 100px;
}
.img-text-almoco-quarta {
    left: 490px;
}
.img-text-almoco-quinta {
    left: 510px;
}
.img-text-almoco-sexta {
    left: 530px;
}

/*  B O L O S  E  T O R T A S  */
.cabeca_bolos {
	background: #789 url("../img/_produtos/bolos/cabeca_bolos.jpg");
	background-position: center;
}
.cabeca_text_bolos {
    position: relative;
    top: 30px;
    left: 600px;
    color: white;
    font-size: 70px;
    font-weight: 700;
    text-align: right;
    line-height: 70px;
}

/* C A F E   D A   M A N H A */
.cabeca_cafedamanha {
	background: #789 url("../img/_produtos/cafedamanha/cabeca_cafedamanha.jpg");
	background-position: right;
}
#cafebuffet {
	right: 0;
	position: relative;
}
.cabeca_text_cafedamanha {
    position: relative;
    top: 60px;
    left: 670px;
}
.cabeca_text_cafedamanha h5,
.cabeca_text_cafedamanha h4,
.cabeca_text_cafedamanha h3,
.cabeca_text_cafedamanha p {
	color: white;
	margin: 0;
}
.cabeca_text_cafedamanha .unid-jantar {
	width: 215px;
}
.cabeca_text_cafedamanha .valor-produto {
	margin: 5px 0 20px;
}
.cabeca_text_cafedamanha .valor-produto:last-child {
	margin-bottom: 0px;
}

/* C E S T A S */
.cabeca_cestas {
	background: #789 url("../img/_produtos/cestas/cabeca_cestas.jpg");
	background-position: center;
}
.cabeca_text_cestas {
    position: relative;
    top: 20px;
    left: 610px;
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: right;
    line-height: 60px;
}
.cabeca_text2_cestas {
    font-size: 30px;
    line-height: 30px;
}

/* C O M B O S */
.tag {
	position: absolute;
	top: 30px;
	right: 0;
	font-size: 4em;
	font-weight: 900;
	background-color: white;
	padding: 0px 15px;
}
.secao-combos .descricao-produto-combo {
	font-size: 1.4em;
	font-weight: 500;
	display: block;
	z-index: 10;
}
.secao-combos .descricao-produto-combo span {
	position: absolute;
	font-size: 2em;
	font-weight: 900;
	z-index: 10;
}
.secao-combos .cod {
	display: block;
}
.combo-img {
	width: 100%;
	position: relative;
	bottom: 0;
}
.combo_01 .descricao-produto-combo,
#tag_01 {
	color: #b57d0c;
}
.combo_02 .descricao-produto-combo,
#tag_02 {
	color: #4581b4;
}
.combo_03 .descricao-produto-combo,
#tag_03 {
	color: #7f3f56;
}
.combo_04 .descricao-produto-combo,
#tag_04 {
	color: #6d7c4d;
}
.combo_05 .descricao-produto-combo,
#tag_05 {
	color: #ad363c;
}
.combo_06 .descricao-produto-combo,
#tag_06 {
	color: #4e8e52;
}
.combo_07 .descricao-produto-combo,
#tag_07 {
	color: #3a4f89;
}
.combo_08 .descricao-produto-combo,
#tag_08 {
	color: #99530e;
}
.combo_01 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefbf6+0,eccd9e+100 */
	background: #fefbf6; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #fefbf6 0%, #eccd9e 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fefbf6), color-stop(100%,#eccd9e)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #fefbf6 0%,#eccd9e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #fefbf6 0%,#eccd9e 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #fefbf6 0%,#eccd9e 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #fefbf6 0%,#eccd9e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefbf6', endColorstr='#eccd9e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.combo_02 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f9fa+0,a3b2ce+100 */
	background: #f7f9fa; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #f7f9fa 0%, #a3b2ce 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f7f9fa), color-stop(100%,#a3b2ce)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #f7f9fa 0%,#a3b2ce 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #f7f9fa 0%,#a3b2ce 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #f7f9fa 0%,#a3b2ce 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #f7f9fa 0%,#a3b2ce 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#a3b2ce',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.combo_03 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f9fa+0,dab6bc+100 */
	background: #f5edee; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #f5edee 0%, #dab6bc 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f5edee), color-stop(100%,#dab6bc)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #f5edee 0%,#dab6bc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #f5edee 0%,#dab6bc 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #f5edee 0%,#dab6bc 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #f5edee 0%,#dab6bc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5edee', endColorstr='#dab6bc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.combo_04 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f9fa+0,cbdab6+100 */
	background: #eef3e9; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #eef3e9 0%, #cbdab6 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#eef3e9), color-stop(100%,#cbdab6)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #eef3e9 0%,#cbdab6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #eef3e9 0%,#cbdab6 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #eef3e9 0%,#cbdab6 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #eef3e9 0%,#cbdab6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef3e9', endColorstr='#cbdab6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.combo_05 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f9fa+0,f4b7b2+100 */
	background: #f9f3f2; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #f9f3f2 0%, #f4b7b2 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f9f3f2), color-stop(100%,#f4b7b2)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #f9f3f2 0%,#f4b7b2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #f9f3f2 0%,#f4b7b2 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #f9f3f2 0%,#f4b7b2 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #f9f3f2 0%,#f4b7b2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f3f2', endColorstr='#f4b7b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.combo_06 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/white+0,#eaf1d6+100 */
	background: white; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  white 0%, #eaf1d6 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,white), color-stop(100%,#eaf1d6)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  white 0%,#eaf1d6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  white 0%,#eaf1d6 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  white 0%,#eaf1d6 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  white 0%,#eaf1d6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='#eaf1d6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.combo_07 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4e6f3+0,bdc3e4+100 */
	background: #e4e6f3; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #e4e6f3 0%, #bdc3e4 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e4e6f3), color-stop(100%,#bdc3e4)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #e4e6f3 0%,#bdc3e4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #e4e6f3 0%,#bdc3e4 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #e4e6f3 0%,#bdc3e4 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #e4e6f3 0%,#bdc3e4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e6f3', endColorstr='#bdc3e4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.combo_08 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/white+0,BFA978+100 */
	background: white; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  white 0%, #BFA978 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,white), color-stop(100%,#BFA978)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  white 0%,#BFA978 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  white 0%,#BFA978 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  white 0%,#BFA978 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  white 0%,#BFA978 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='#BFA978',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*  D O C E S  */
.cabeca_doces {
	background: #789 url("../img/_produtos/doces/cabeca_doces.jpg");
	background-position: center;
}
.cabeca_text_doces {
    position: relative;
    top: 10px;
    left: 560px;
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: right;
    line-height: 50px;
}

/*  J A N T A R  */
.cabeca_jantar {
	background: #789 url("../img/_produtos/jantar/cabeca_jantar.jpg");
	background-position: right;
}
.cabeca_text_jantar {
    position: relative;
    top: 20px;
    left: 640px;
}
.cabeca_text_jantar h5,
.cabeca_text_jantar h4,
.cabeca_text_jantar h3,
.cabeca_text_jantar p {
	color: white;
	margin: 0;
}
.cabeca_text_jantar .unid-jantar {
	width: 215px;
}
.cabeca_text_jantar .valor-produto {
	margin: 5px 0 20px;
}
.cabeca_text_jantar .valor-produto:last-child {
	margin-bottom: 0px;
}
.bloco-jantar {
	margin-bottom: 40px;
}
.bloco-jantar p {
	display: inline-block;
}
.bloco-jantar .valor-produto {
	margin: 0 10px;
}
.unid-jantar {
	width: 130px;
}

/* L A N C H E S */
.cabeca_lanches {
	background: #789 url("../img/_produtos/lanches/cabeca_lanches.jpg");
	background-position: center;
}
.cabeca_text_lanches {
    position: relative;
    top: 230px;
    left: 740px;
    color: white;
    font-size: 50px;
    font-weight: 700;
}

/* L A N C H E S M E T R O */
.cabeca_lanchesmetro {
	background: #789 url("../img/_produtos/lanchesmetro/cabeca_lanchesmetro.jpg");
	background-position: center;
}
.cabeca_text_lanchesmetro {
    position: relative;
    top: 100px;
    left: 710px;
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: right;
    line-height: 50px;
}

/* P I Z Z A S */
.cabeca_pizzas {
	background: #789 url("../img/_produtos/pizzas/cabeca_pizzas.jpg");
	background-position: center;
}
.cabeca_text_pizzas {
    position: relative;
    top: 40px;
    left: 600px;
    color: white;
    font-size: 70px;
    font-weight: 700;
}
.bloco-dados {
	text-align: right;
	border-left: dashed 1px grey;
}
.pizza-dados {
	display: block;
}
.pizza-tamanho {
	width: 80px;
	font-size: 1em;
	display: inline-block;
	margin: 0;
}
.pizza-cod {
	display: inline-block;
	margin: 0 10%;
	font-size: 0.75em;
}
.pizza-valor {
	font-size: 0.75em;
	padding: 5px;
	margin-top: 0;
	font-weight: 400;
	display: inline-block;
	color: white;
	background: tomato;
}

/* P R A T O S R Á P I D O S */
.cabeca_pratos {
	background: #789 url("../img/_produtos/pratos/cabeca_pratos.jpg");
	background-position: center;
}
.cabeca_text_pratos {
    position: relative;
    top: 90px;
    left: 600px;
    color: white;
    font-size: 70px;
    font-weight: 700;
    text-align: right;
    line-height: 70px;
}

/* S A L G A D O S  */
.cabeca_salgados {
	background: #789 url("../img/_produtos/salgados/cabeca_salgados.jpg");
	background-position: center;
}
.cabeca_text_salgados {
    position: relative;
    top: 30px;
    left: 610px;
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: right;
    line-height: 40px;
}
.cabeca_text2_salgados {
	font-size: 40px;
}

/* S O B R E M E S A S */
.cabeca_sobremesas {
	background: #789 url("../img/_produtos/sobremesas/cabeca_sobremesas.jpg");
	background-position: center;
}
.cabeca_text_sobremesas {
    position: relative;
    top: 10px;
    left: 450px;
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-align: right;
}

/*S O P A S*/
.cabeca_sopas {
	background: #789 url("../img/_produtos/sopas/cabeca_sopas.jpg");
	background-position: center;
}
.cabeca_text_sopas {
    position: relative;
    top: 150px;
    left: 620px;
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-align: right;
}

/*  S U C O S  */
.cabeca_sucos {
	background: #789 url("../img/_produtos/sucos/cabeca_sucos.jpg");
	background-position: center;
}
.cabeca_text_sucos {
    position: relative;
    top: 10px;
    left: 590px;
    color: white;
    font-size: 70px;
    font-weight: 700;
    text-align: right;
}
.descricao-detalhes {
	font-size: 9px;
}
.img-sucos {
	width: 36px;
	float: left;
}
.cardapio .descricao-ingredientes-sucos {
    font-size: 0.8em;
    margin-left: 56px;
    margin-right: 80px;
}

/* T A B U A D E F R I O S */
.cabeca_frios {
	background: #789 url("../img/_produtos/frios/cabeca_frios.jpg");
	background-position: center;
}
.cabeca_text_frios {
	position: relative;
    top: 50px;
    left: 650px;
    color: white;
    font-size: 70px;
    font-weight: 700;
    text-align: right;
    line-height: 70px;
}

/*V I N H O S*/
.cabeca_vinhos {
	background: #789 url("../img/_produtos/vinhos/cabeca_vinhos.jpg");
	background-position: center;
}
.cabeca_text_vinhos {
	position: relative;
    top: 130px;
    left: 570px;
    color: white;
    font-size: 70px;
    font-weight: 700;
    text-align: right;
    line-height: 70px;
}
.cardapio .descricao-ingredientes-vinhos {
	margin-left: 62px;
}

/*  M E D I A   Q U E R I E S  */
@media (max-width: 1199px) {
	.cabeca_text_almoco {
    	left: 540px;
	}
	.cabeca_text_bolos {
	    left: 460px;
	}
	.cabeca_text_cafedamanha {
    	left: 560px;
	}
	.cabeca_text_cestas {
    	left: 510px; 
	}
	.cabeca_text_doces {
    	left: 445px;
	}
	.cabeca_text_jantar {
    	left: 530px;
	}
	.cabeca_text_lanches {
	    left: 570px;
	}
	.cabeca_text_lanchesmetro {
	    left: 580px;
	}
	.cabeca_text_pizzas {
	    left: 500px;
	}
	.cabeca_text_pratos {
		left: 500px;
	}
	.cabeca_text_salgados {
		left: 490px;
	}
	.cabeca_text_sobremesas {
	    left: 310px;
	}
	.cabeca_text_sopas {
    	left: 510px;
	}
	.cabeca_text_sucos {
	    left: 490px;
	}
	.cabeca_text_frios {
    	left: 550px;
	}
	.cabeca_text_vinhos {
	    left: 450px;
	}
}
@media (max-width: 991px) {
	.cabeca_text_almoco {
    	left: 390px;
	}
	.cabeca_text_bolos {
	    left: 370px;
	}
	.secao-bolos section {
		border-bottom: dashed 1px grey;
		margin: 15px;
	}
	.secao-bolos section:last-child {
		border-bottom: none;
		padding-bottom: 0px;
	}
	.cabeca_text_cafedamanha {
    	left: 390px;
	}
	.cabeca_text_cestas {
    	left: 410px; 
	}
	.cabeca_text_doces {
	    left: 360px;
	    font-size: 45px;
	    line-height: 40px;
	}
	.cabeca_text_jantar {
    	left: 380px;
	}
	.cabeca_text_lanches {
	    left: 430px;
	}
	.cabeca_text_lanchesmetro {
		top: 50px;
	    left: 420px;
	}
	.cabeca_text_pizzas {
	    left: 400px;
	}
	.cabeca_text_pratos {
		left: 390px;
	}
	.cabeca_text_salgados {
		font-size: 45px;
		left: 380px;
	}
	.cabeca_text2_salgados {
		font-size: 35px;
	}
	.cabeca_text_sobremesas {
	    left: 250px;
	    font-size: 50px;
	}
	.cabeca_text_sopas {
    	left: 410px;
	}
	.cabeca_text_sucos {
	    left: 390px;
	}
	.cabeca_text_frios {
    	left: 430px;
	}
	.cabeca_text_vinhos {
	    left: 340px;
	}
}
@media (max-width: 767px) {
	.menulateral div ul {
		margin-top: 0px;
	}
	.encomendar {
		display: block;
	}
	.bloco-pizza {
		padding: 0;
		border-bottom: dashed 1px grey;
	}
	.bloco-pizza:last-child {
		border-bottom: none;
	}
	.bloco-dados {
		text-align: left;
		border-left: none;
	}
	.img-bolos {
		display: block;
		margin: 0 auto;
	}
	#btn-products {
		width: 100%;
		display: block;
		float: none;		
	}
	#busca {
		width: 100%;
	}
	.cabeca_text_pratos {
		left: 420px;
	    font-size: 60px;
	}
}
@media (max-width: 680px) {
	.cabeca_text_almoco {
    	left: 320px;
	}
	.img-text-almoco-quarta {
    	left: 380px;
	}
	.img-text-almoco-quinta {
	    left: 400px;
	}
	.img-text-almoco-sexta {
	    left: 420px;
	}
	.cabeca_text_cafedamanha {
		left: 320px;
	}
	.cabeca_text_cestas {
    	left: 365px;
	}
	.cabeca_text_doces {
	    left: 320px;
	}
	.cabeca_text_jantar {
    	left: 320px;
	}
	.cabeca_text_pratos {
		left: 350px;
	}
	.cabeca_text_salgados {
		left: 350px;
	}
}
@media (max-width: 610px) {
	.cabeca_text_almoco {
    	left: 260px;
	}
	.img-text-almoco {
		top: 120px;
    	font-size: 40px;
	}
	.img-text-almoco-quarta {
    	left: 320px;
	}
	.img-text-almoco-quinta {
	    left: 340px;
	}
	.img-text-almoco-sexta {
	    left: 360px;
	}
	.cabeca_text_bolos {
	    left: 300px;
	}
	.cabeca_text_cafedamanha {
		left: 260px;
	}
	.cabeca_text_cestas {
    	left: 330px;
	}
	.cabeca_text2_cestas {
    	font-size: 25px;
	}
	.cabeca_text_doces {
	    left: 300px;
	    font-size: 40px;
	    line-height: 35px;
	}
	.cabeca_text_jantar {
    	left: 240px;
	}
	.cabeca_text_lanches {
	    left: 360px;
	}
	.cabeca_text_lanchesmetro {
	    left: 330px;
	}
	.cabeca_text_pizzas {
    	left: 330px;
	}
	.cabeca_text_pratos {
		top: 140px;
		left: 345px;
		font-size: 50px;
		line-height: 50px;
	}
	.cabeca_text_salgados {
		left: 310px;
	}
	.cabeca_text_sopas {
    	left: 340px;
	}
	.cabeca_text_sucos {
    	left: 330px;
	}
	.cabeca_text_frios {
	    left: 320px;
	}
	.cabeca_text_vinhos {
	    left: 230px;
	}
}
@media (max-width: 550px) {
	.cabeca_text_almoco {
    	left: 190px;
	}
	.cabeca_text_bolos {
	    left: 270px;
	    font-size: 60px;
	}
	.cabeca_text_cafedamanha {
    	left: 190px;
	}
	.cabeca_text_cestas {
    	left: 300px;
    	font-size: 35px;
	    line-height: 40px;
	}
	.cabeca_text2_cestas {
    	font-size: 25px;
    	line-height: 30px;
	}
	.cabeca_text_doces {
	    left: 260px;
	}
	.cabeca_text_jantar {
    	left: 180px;
	}
	.cabeca_text_lanches {
	    left: 310px;
	}
	.cabeca_text_lanchesmetro {
		top: 20px;
		font-size: 40px;
	    left: 310px;
	}
	.cabeca_text_pizzas {
    	left: 300px;
	}
	.cabeca_text_pratos {
		left: 310px;
		font-size: 40px;
		line-height: 38px;
	}
	.cabeca_text_salgados {
		font-size: 40px;
   		left: 270px;
	}
	.cabeca_text2_salgados {
		font-size: 30px;
	}
	.cabeca_text_sobremesas {
	    left: 200px;
	    font-size: 40px;
	}
	.cabeca_text_sopas {
		top: 160px;
    	left: 310px;
    	font-size: 50px;
	}
	.cabeca_text_sucos {
	    top: 30px;
	    left: 330px;
	    font-size: 50px;
	}
	.cabeca_text_pizzas {
    	left: 300px;
	}
	.cabeca_text_frios {
	    top: 65px;
	    left: 350px;
	    font-size: 50px;
	    line-height: 60px;
	}
}
@media (max-width: 490px) {
	.tel {
		display: block !important;
	}
	.ponto {
		display: none !important;
	}
	.cabeca_text_almoco {
    	left: 130px;
	}
	.img-box-text-almoco {
		top: 20px;
	}
	.img-text-almoco {
    	top: 220px;
	}
	.img-text-almoco-quarta {
    	left: 125px;
	}
	.img-text-almoco-quinta {
	    left: 137px;
	}
	.img-text-almoco-sexta {
	    left: 143px;
	}
	.cabeca_text_bolos {
    	top: 40px;
    	left: 230px;
    	font-size: 50px;
	}
	.cabeca_text_cafedamanha {
    	left: 130px;
	}
	.cabeca_text_cestas {
    	left: 220px;
    	font-size: 25px;
    	line-height: 25px
	}
	.cabeca_text2_cestas {
		font-size: 20px;
		line-height: 17px;
	}
	.cabeca_text_doces {
		left: 245px;
    	font-size: 30px;
    	line-height: 30px;
	}
	.cabeca_text_jantar {
    	left: 120px;
	}
	.cabeca_text_lanches {
		top: 240px;
    	left: 250px;
    	font-size: 40px;
	}
	.cabeca_text_lanchesmetro {
		font-size: 40px;
	    left: 230px;
	}
	.cabeca_text_pizzas {
    	left: 250px;
    	top: 50px;
    	font-size: 40px;
	}
	.cabeca_text_pratos {
		top: 140px;
		left: 245px;
		font-size: 35px;
		line-height: 33px;
	}
	.cabeca_text_salgados {
	    left: 215px;
	}
	.cabeca_text_sobremesas {
		top: 20px;
	    left: 150px;
	}
	.cabeca_text_sopas {
    	left: 280px;
    	font-size: 40px;
	}
	.cabeca_text_sucos {
    	left: 260px;
	}
	.cabeca_text_frios {
	    left: 280px;
	}
	.cabeca_text_vinhos {
	    left: 190px;
	    font-size: 50px;
	}
}
@media (max-width: 400px) {
	.cabeca_text_almoco {
    	left: 40px;
	}
	.cabeca_text_bolos {
	    left: 180px;
	}
	.cabeca_text_cafedamanha {
    	left: 30px;
	}
	.cabeca_text_cestas {
    	left: 170px;
	}
	.cabeca_text_doces {
		left: 180px;
	}
	.cabeca_text_jantar {
    	left: 40px;
	}
	.cabeca_text_lanches {
	    left: 200px;
    	font-size: 35px;
	}
	.cabeca_text_lanchesmetro {
		font-size: 35px;
    	left: 210px;
    	line-height: 40px;
	}
	.cabeca_text_pizzas {
    	left: 205px;
	}
	.cabeca_text_pratos {
		left: 185px;
	}
	.cabeca_text_salgados {
	    left: 180px;
	    line-height: 25px;
	}
	.cabeca_text_sobremesas {
	    left: 100px;
	}
	.cabeca_text_sopas {
    	left: 240px;
	}
	.cabeca_text_sucos {
    	left: 220px;
	}
	.cabeca_text_frios {
    	top: 20px;
    	left: 240px;
    	font-size: 45px;
    	line-height: 45px;
	}
	.cabeca_text_vinhos {
	    left: 90px;
	}
}
@media (max-width: 380px) {
	.cabeca_text_salgados {
	    left: 160px;
	}
	.cabeca_text_lanchesmetro {
		left: 170px;
	}
	.wrap-produtos .cod {
		display: block;
	}
	.wrap-produtos .descricao-produto {
		margin: 0;
	}
	.wrap-produtos .valor-produto {
		margin-top: 0;
	}
	.wrap-produtos .descricao-ingredientes {
    	margin-left: 0px;
	}
}
@media (max-width: 320px) {
	.tag {
    	position: static;
	}
	.img-box-text-almoco {
		left: 60px;
	}
	.img-text-almoco-quarta {
    	left: 87px;
	}
	.img-text-almoco-quinta {
	    left: 95px;
	}
	.img-text-almoco-sexta {
	    left: 103px;
	}
	.cabeca_text_bolos {
    	left: 160px;
    	font-size: 40px;
	}
	.cabeca_text2_bolos {
		margin-left: 12px;
	}
	.cabeca_text_cestas {
    	left: 145px;
	}
	.cabeca_text_doces {
	    left: 140px;
	}
	.cabeca_text_lanches {
	    left: 170px;
	}
	.cabeca_text_lanchesmetro {
	    left: 150px;
	}
	.cabeca_text_pizzas {
		top: 50px;
    	left: 180px;
    	font-size: 40px;
	}
	.cabeca_text_pratos {
		left: 155px;
	}
	.cabeca_text_salgados {
	    left: 120px;
	}
	.cabeca_text_sobremesas {
	    left: 60px;
	}
	.cabeca_text_sopas {
    	left: 200px;
	}
	.cabeca_text_sucos {
    	left: 185px;
    	font-size: 45px;
	}
	.cabeca_text_frios {
		left: 190px;
    	font-size: 40px;
    	line-height: 40px;
	}
}